<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-dark">
      <div class="card-header py-3 text-white bg-dark border-dark">
        <a href="#">
          <h4 class="my-0 fw-normal">Matematica Play</h4>
        </a>
      </div>
      <div class="card-body p-4">
        <a href="#">
          <img src="https://cdn2.iconfinder.com/data/icons/shopping-and-commerce-43/66/Calculations-512.png"
               width="128px" height="128px"
               class="rounded mx-auto d-block" alt="...">
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-dark">
      <div class="card-header py-3 text-white bg-dark border-dark">
        <a href="#">
          <h4 class="my-0 fw-normal">Jogo da Velha</h4>
        </a>
      </div>
      <div class="card-body p-4">
        <a href="#">
          <img src="https://cdn3.iconfinder.com/data/icons/brain-games/128/Tic-Tac-Toe-Game-red.png"
               width="128px" height="128px"
               class="rounded mx-auto d-block" alt="...">
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-dark">
      <div class="card-header py-3 text-white bg-dark border-dark">
        <a href="#">
          <h4 class="my-0 fw-normal">Jogo da Forca</h4>
        </a>
      </div>
      <div class="card-body p-4">
        <a href="#">
          <img src="https://cdn3.iconfinder.com/data/icons/brain-games/128/Hangman-Game-red.png"
               width="128px" height="128px"
               class="rounded mx-auto d-block" alt="...">
        </a>
      </div>
    </div>
  </div>
</div>
