<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

  <div class="col" *ngFor="let jogo of jogos">
    <div class="card mb-4 rounded-3 shadow-sm border-1">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="#">
            <img [src]="jogo.urlIcone"
                 width="128px" height="128px"
                 class="img-fluid p-3 rounded-start" alt="...">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="#">
              <h3 class="card-title">{{ jogo.titulo }}</h3>
              <p class="card-text mt-4">
                {{ jogo.descricao }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
