<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
  <div class="tp-box__side tp-box__back">
    <img src="https://cdn4.iconfinder.com/data/icons/emoji-18/61/3-512.png"
         width="128px" height="128px"
         class="img-fluid p-3 rounded-start" alt="Jogo da memoria" />
  </div>
  <div class="tp-box__side tp-box__front">
    <img src="https://cdn4.iconfinder.com/data/icons/action-hand-drawn-basic/64/picture-frame-512.png"
         width="128px" height="128px"
         class="img-fluid p-3 rounded-start" alt="Jogo da memoria" />
  </div>
</div>
