<a #hrefModal href="#modal" class="trigger-btn" data-toggle="modal"></a>
<div id="modal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <!--
          <i class="material-icons">&#xE876;</i>
          -->
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Parabéns!!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Você acertou a palavra secreta PALAVRA_SECRETA.</p>
      </div>
    </div>
  </div>
</div>
