<div class="row text-center">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <div class="col-auto">
      <select class="form-select form-select-lg mb-3"
              name="nivelSelecionado"
              [(ngModel)]="nivelSelecionado">
        <option [value]="nivel.nivel" *ngFor="let nivel of niveis">
          {{ nivel.descricao }}
        </option>
      </select>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary btn-lg"
        (click)="iniciar()">
        Iniciar
      </button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row mt-5 justify-content-center">
      <div class="card col-md-1 p-2 m-2 rounded-3" *ngFor="let carta of partida?.tabuleiro?.cartas">
        <app-carta [carta]="carta"></app-carta>
      </div>
    </div>
  </div>
</div>
